

.contentbox{
    border:solid black;
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
  position: relative;
     
  
     
  }
  .box1{
      background-color: red;
      width: 33.33%;
      height: 33.33%;
      top: 33.33%;
      position: relative;
    
      
  
  }
  .box2{
      background-color: rgba(4, 0, 255, 0.884);
      width: 33.33%;
      height: 33.33%;
      top: 33.33%;
      position: relative;
  }
  .box3{
    background-color: rgb(23, 187, 23);
     width: 33.33%;
     height: 33.33%;
     top: 33.33%;
     position: relative;