

.contentbox{
  border:solid black;
  margin: auto;
  width: 600px;
  height: 600px; 
  
  position: relative;

  
}
.box1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    

}
.box2{
    background-color: rgba(4, 0, 255, 0.884);
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0%;
    top: 33.33%;
}
.box3{
  background-color: rgb(23, 187, 23);
  width: 200px;
  height: 200px;
   position: absolute;
   right: 0%;
   top: 66.66%;
 }